<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyFirstSwiftDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FDF31C1B1CFCAF09004C39EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDF31C2F1CFCAF09004C39EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDF31C3A1CFCAF09004C39EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
